@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
      font-family: 'Numans';
      src: url('../public/fonts/Numans-Regular.ttf') format('truetype');
    }
    /*main header hero section*/
    h1{
      @apply tracking-tight font-black text-primary text-4xl sm:text-5xl md:text-6xl;
      font-family: 'Numans';
    }
    /*section headers*/
    h2{
      @apply tracking-tight font-black text-primary text-xl sm:text-2xl md:text-3xl text-center;
      font-family: 'Numans';
    }
    h3{
      @apply text-base leading-6 font-semibold text-black text-opacity-70 text-center;
      font-family: 'Numans';
    }
    /*section sub headers*/
    h4{
      @apply text-base md:text-lg leading-6 font-medium text-black text-opacity-70 text-center;
    }
  
    a{
      font-family: 'Numans';
    }
    p{
      @apply text-base text-gray-500 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl;
    }
    section{
      @apply  overflow-hidden relative px-3 sm:px-10 bg-white;
    } 
    
  } 
  
/***********************************************************************************************/
/***************Navigation*****************************/  
:disabled{
    
  animation: pill .6s ease-in-out normal forwards;     
  position:relative;
  z-index:0;
  background-color: transparent !important;     
}  
:disabled::before{
content:"";
position:absolute;
z-index:-1;
top:0;
left:0;
right:0;
bottom:0;
padding: 3px;
border-radius: 15px;
background: linear-gradient(to right, #00baff, #e69c24);
-webkit-mask: 
   linear-gradient(#fff 0 0) content-box, 
   linear-gradient(#fff 0 0);
-webkit-mask-composite: destination-out;
mask-composite: exclude; 
}
@keyframes pill{
  100%{   
    height: 45px;       
  }
}

#control{   
  margin-bottom:15px ;
  width: 15px;
  height: 15px;   
  background: #eaebec;
  border-radius: 25px;
  transition: height .5s ease;  
 
}
/*******tooltip************************/
#control:hover .tooltip{
visibility: visible;
z-index: 100;
}
.tooltip{
visibility: hidden;
position: absolute;
font-family: 'Numans';
border-radius: 25px;
} 

/************navbar**************************/
.bar-vanished{
  background-color:transparent;
  transition: background-color 330ms ease-in-out;
  -webkit-transition: background-color 330ms ease-in-out;
  
}

.bar-vanished a{
  color: white;
  transition: color 500ms ease-in-out 200ms;
  -webkit-transition: color 500ms ease-in-out 200ms;
}

.bar-vanished svg{
  fill: white;
   transition: fill 500ms ease-in-out 200ms;
  -webkit-transition: fill 500ms ease-in-out 200ms;
}

/*************accordion*******************************/
.accordion-item--opened .accordion-item__inner {
  max-height: 100rem;
  /* transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); */
  transition-timing-function: linear;
  transition-duration: 0.7s;
  transition-property: max-height;
}
.accordion-item--opened .accordion-item__content {
  /* opacity: 1; */
  /* transform: translateY(0); */
  transition-delay: 0.2s;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}

/*******************carousel****************************/
.rec.rec-arrow {
  border-radius: 0;
  background-color: white;
  color: #e69c24;
  box-shadow: none;
  border: 3px solid #e69c24;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@media (max-width: 400px){
  .rec.rec-arrow {
    display: none;
  }
  
}
@media (max-width: 639px){
  .rec.rec-item-wrapper{
    padding: 5px !important;
  }
}

/* round buttons on hover */
.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  border-radius: 50%;
  background-color: #e69c24;
}
.rec.rec-arrow:disabled{
  background-color: #eaebec !important;
  border: 3px solid transparent;
  color: #cdcdce;
}
.rec.rec-arrow:disabled::before{
  border-radius: none;
  background: none;  
}
.rec.rec-dot.rec.rec-dot{
  width: 25px;
  height: 5px;
  border-radius:0;            
  background: #00baff;
  box-shadow:none;
  opacity: 0.3;
}
.rec.rec-dot.rec.rec-dot_active{
  background: #00baff;
  opacity: 1;
}

