@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
      font-family: 'Numans';
      src: url('../public/fonts/Numans-Regular.ttf') format('truetype');
    }
    /*main header hero section*/
    h1{
      @apply tracking-tight font-black text-primary text-4xl sm:text-5xl md:text-6xl;
      font-family: 'Numans';
    }
    /*section headers*/
    h2{
      @apply tracking-tight font-black text-primary text-xl sm:text-2xl md:text-3xl text-center;
      font-family: 'Numans';
    }
    h3{
      @apply text-base leading-6 font-semibold text-black text-opacity-70 text-center;
      font-family: 'Numans';
    }
    /*section sub headers*/
    h4{
      @apply text-base md:text-lg leading-6 font-medium text-black text-opacity-70 text-center;
    }
  
    a{
      font-family: 'Numans';
    }
    p{
      @apply text-base text-gray-500 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl;
    }
    section{
      @apply  overflow-hidden relative px-3 sm:px-10 bg-white;
    }    
  } 

/***********************************************************************************************/
/***************Navigation*****************************/  
:disabled{
    
  animation: pill .6s ease-in-out normal forwards;     
  position:relative;
  z-index:0;
  background-color: transparent !important;     
}  
:disabled::before{
content:"";
position:absolute;
z-index:-1;
top:0;
left:0;
right:0;
bottom:0;
padding: 3px;
border-radius: 15px;
background: linear-gradient(to right, #00baff, #e69c24);
-webkit-mask: 
   linear-gradient(#fff 0 0) content-box, 
   linear-gradient(#fff 0 0);
-webkit-mask-composite: destination-out;
mask-composite: exclude; 
}
@keyframes pill{
  100%{   
    height: 45px;       
  }
}

#control{   
  margin-bottom:15px ;
  width: 15px;
  height: 15px;   
  background: #eaebec;
  border-radius: 25px;
  transition: height .5s ease;  
 
}
/*******tooltip************************/
#control:hover .tooltip{
visibility: visible;
z-index: 100;
}
.tooltip{
visibility: hidden;
position: absolute;
font-family: 'Numans';
border-radius: 25px;
} 

.bar-vanished{
  background-color:transparent;
  transition: background-color 330ms ease-in-out;
  -webkit-transition: background-color 330ms ease-in-out;
  
}

.bar-vanished a{
  color: white;
  transition: color 500ms ease-in-out 200ms;
  -webkit-transition: color 500ms ease-in-out 200ms;
}

.bar-vanished svg{
  fill: white;
   transition: fill 500ms ease-in-out 200ms;
  -webkit-transition: color 2s ease-in-out 200ms;
}


.test{ 
  display: block;
  transform: translateY(0%);
  pointer-events: none;
  transition: transform 0.3s; 
  
}
.test:active,.test:hover{
  display: block;
  transform: translateY(calc(-100% - 1px));
}

.open{  
  display:block;
  position: absolute; /* Sit on top of the page content */ 
  bottom: 0%;
  /* left: 0%;   */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  background: #eaebec; 
  width: 50%;
  height:0%;
  animation: panel-anime 300ms ease-in-out normal forwards;    
  overflow-y: auto;  
}


@keyframes panel-anime{  
  0% {
    /* width: 20%; */
    height:20%;
  }
  100%{
    /* width: 50%; */
    height:100%;
  }  
}


